{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'images/profile_picture4.jpg' %}">
    <title>aduduuuu</title>
</head>
<body>
    <div class="container">
        <div class="landingpage">
            <div class="image">
                <img id="profile-picture" src="{% static 'images/profile_picture4.jpg' %}" alt="profile-picture" height="250px" width="250px">
            </div>

            <div class="texts">
                <h1>Fahdii Ajmalal Fikrie</h1>
                <h3>19 years old, currently majoring in CS Department</h3>
            </div>
        </div>

        <a href="drive.google.com" id="button">here's my resume</a>
        
        <div class="guest-box">
            <h3><div id="pleasedo"></div></h3>
            <form action="/action_page.php" height="100px" width="200px">
                <textarea placeholder="write here..."></textarea></textarea>
            </form>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>